[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = $GIT_USER_NAME
	email = $GIT_USER_EMAIL
	signingkey = ~/.ssh/id_ed25519.pub
	username = fpigeonjr
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[gpg]
	format = ssh
[commit]
	gpgsign = true
